@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
	background-color: transparent;
}

/* scrollbar handle */
::-webkit-scrollbar-thumb {
    background: rgb(44 44 55);
	border-radius: 12px;
}

/* scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(11 11 11);
}
